In [61]:
#creating variables
#assigning values to variables
name='anwesha'
age=19
is_tall=True
#printing variables values
print("Hello",name)
print("your age is",age)
print("are you tall?",is_tall)

#re-assigning values to variables
name="anwesha abantika"
age=20
is_tall=False

print("good morning",name)
print("now your age is",age)
print("are you tall?",is_tall)

#using variables in calculation
total_age=age+20
print("20 years later,your age is:",total_age)

Hello anwesha
your age is 19
are you tall? True
good morning anwesha abantika
now your age is 20
are you tall? False
20 years later,your age is: 40

In [45]:
#creating data types
#string datatype
name ="isha"

#integer datatype
age=20

#floating datatype
percentage=95.8

#boolean datatype   
is_student=True

#printing datatypes
print(name,age,percentage,is_student)

isha 20 95.8 True

In [46]:
#arithmetic operation
print("sum",4+3)
print("difference",4-3)
print("product",4*3)
print("division",4/3)
print("floor divison",4//3)
print("modulus",4%3)
print("exponentiation",4**3)

sum 7
difference 1
product 12
division 1.3333333333333333
floor divison 1
modulus 1
exponentiation 64

In [47]:
#string manipulation
#concatenation of strings
name1="anwesha"
name2="abantika"
print(name1+name2)
#replace part of string
string="we love nature"
string=string.replace('nature','earth')
print(string)
#count characters
name="anwesha abantika"
name=name.count('i')
print("count of 'i':",name)
#split a string
str1="ria sia tia mia"
str=str1.split()
print(str)
#modifying string
#for upper case
str="new york"
str1=str.upper()
print(str1)
#for lower case
str2=str1.lower()
print(str2)
#for capitalising
str3=str2.capitalize()
print(str3)
#string indexing
text="Hello World!"
#positive indexing
print(text[0])
print(text[8])
#negative indexing
print(text[-1])
print(text[-3])
#string formating
student_name="isha"
student_mark="96"
str1="The student name is {s},and marks is {m}"
print(str1.format(s=student_name,m=student_mark))

anweshaabantika
we love earth
count of 'i': 1
['ria', 'sia', 'tia', 'mia']
NEW YORK
new york
New york
H
r
!
l
The student name is isha,and marks is 96

In [75]:
#conditional statements
#if
number=10
if number%==0:
    print("number is divisible by 5")

#if else
num=9
if num>=0:
    print("positive")
else:
    print("negative")

#nested ifelse
num1=80
num2=95
num3=90
if num1>num2:
    if num1>num3:
        print(num1,"is greatest")
    else:
        print(num3,"is greatest")
else:
    if num2>num3:
        print(num2,"is greatest")
    else:
        print(num3,"is greatest")

#if-elif-else
selling_price=500
cost_price=450
if selling_price>cost_price:
    print("profit",selling_price-cost_price)
elif cost_price>selling_price:
    print("loss",cost_price-selling_price)
else:
    print("no profit no loss")

#ternary
num=9
output="even"if num%2==0 else"odd"
print("output is",output)

number is positive
odd
95 is greatest
profit 50
output is odd

In [68]:
#loops

#for loops
#looping through a list
list=[10,20,30,40,50]
for i in list:
    print(i)
#looping with in a range
for i in range(1,11):
    print("hello world")
#looping through characters in string
name="anwesha"
for char in name:
    print(char)

#while loop
#looping through condition
j=0
while j<=10:
    print(j)
    j += 1

10
20
30
40
50
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
a
n
w
e
s
h
a
0
1
2
3
4
5
6
7
8
9
10

In [74]:
#function
#factorial of n using function
def cal_fact(n):
    fact=1
    for i in range(1,n+1):
        fact *= i
    print(fact)
    
cal_fact(8)
#covert usd to inr using function
def converter(usd_value):
    inr_value=usd_value*83.54  #1 dollar=83.54rupess
    print(usd_value,"usd =",inr_value,"inr")
converter(5)

40320
5 usd = 417.70000000000005 inr

In [63]:
#list
#creating list
fruits=["apple","cheery","mango","pineapple"]
print("list:",fruits)

#adding elements
fruits.append("kiwi")
print("After adding kiwi:",fruits)

#removing elements
fruits.remove("cheery")
print("After removing cheery:",fruits)

#sorting a list
fruits.sort()
print("after sorting:",fruits)    

#sorting a list in a descending order
fruits.sort(reverse=True)
print("after sorting in descending:",fruits)

#insert element
fruits.insert(2,"papaya") #insert papaya at index2
print(fruits)
    
#reversing list
fruits.reverse()
print("after reverse",fruits)
          
#extending the list by another list
food=["rice","dal"]
fruits.extend(food)
print(fruits)

#indexing in list
print(fruits[1]) #positive indexing
print(fruits[-1]) #negative indexing 
print(fruits[1:2])  #range of indexes
print(fruits[-2:-1]) #range of negative indexes

list: ['apple', 'cheery', 'mango', 'pineapple']
After adding kiwi: ['apple', 'cheery', 'mango', 'pineapple', 'kiwi']
After removing cheery: ['apple', 'mango', 'pineapple', 'kiwi']
after sorting: ['apple', 'kiwi', 'mango', 'pineapple']
after sorting in descending: ['pineapple', 'mango', 'kiwi', 'apple']
['pineapple', 'mango', 'papaya', 'kiwi', 'apple']
after reverse ['apple', 'kiwi', 'papaya', 'mango', 'pineapple']
['apple', 'kiwi', 'papaya', 'mango', 'pineapple', 'rice', 'dal']
kiwi
dal
['kiwi']
['rice']

In [64]:
#creating dictionary
phones={
    "John":982628,
    "Ria":468201,
   "Joy":126830,
}
print(phones)
print(type(phones))
print(len(phones))

#accessing items in dictionary
print(phones["John"])
print(phones.keys())

#update value in dictionary
phones["John"]=9876654
print(phones)

#add elements in dictionary
phones["kia"]=234567
print(phones)

#print elements of a dictionary
for x in phones:
   print(phones[x])

#clear elements in dictionary
phones.clear()
print(phones)

{'John': 982628, 'Ria': 468201, 'Joy': 126830}
<class 'dict'>
3
982628
dict_keys(['John', 'Ria', 'Joy'])
{'John': 9876654, 'Ria': 468201, 'Joy': 126830}
{'John': 9876654, 'Ria': 468201, 'Joy': 126830, 'kia': 234567}
9876654
468201
126830
234567
{}

In [65]:
#tuple
#creating a tuple
colours=("red","yellow","green")
print(colours)

#creating a tuple with one item
fruit=tuple("apple")
print(fruit)

#check type of tuple
print(type(colours))

#check length of tuple
print(len(colours))

#checking accessing item in tuple
print(colours[1]) #positive indexing #yellow
print(colours[-1]) #negative indexing #green
print(colours[1:3]) #range indexing yellow ,green
print(colours[-2:]) #negative indexing yellow ,green

#check if a item exists in tuple
if "green" in colours:
    print("green is the part of tuple")

#traverse the tuple
for i in colours:
    print(i)

#concatenate 2 tuples
More_colours=("blue","brown")
colours=colours+More_colours
print(colours)

('red', 'yellow', 'green')
('a', 'p', 'p', 'l', 'e')
<class 'tuple'>
3
yellow
green
('yellow', 'green')
('yellow', 'green')
green is the part of tuple
red
yellow
green
('red', 'yellow', 'green', 'blue', 'brown')